<a href="https://colab.research.google.com/github/Pritu04/Python/blob/main/lab_for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Given a list [4, 8, 2, 10, 6], find the maximum number using a for loop.

In [ ]:
list = [4, 8, 2, 10, 6]
maximum = list[0]
for n in list:
  if n > maximum:
    maximum = n
print(f"The maximum number in list is {maximum}")

The maximum number in list is 10

2.	Take input from the user and find the factorial of the number using a for loop.

In [ ]:
num = int(input("Enter a number = "))

factorial = 1
for n in range(1, num+1):
  factorial *= n
print(f"factorial of {num} is {factorial}" )

Enter a number = 5
factorial of 5 is 120

3.	Given a list ['apple', 'banana', 'cherry', 'date', 'fig'], print each element along with its index using a for loop.

In [ ]:
list =  ['apple', 'banana', 'cherry', 'date', 'fig']

for index in range(len(list)):
  print(index, ":" , list[index])

0 : apple
1 : banana
2 : cherry
3 : date
4 : fig

4.	Take a string input from the user and count the number of uppercase letters using a for loop. (Use char.isupper()) ðŸ˜Š

In [ ]:
string = input("Enter a string = ")
upper_count = 0

for char in string:
  if char.isupper():
    upper_count += 1
print(f"Count of uppercase is {upper_count} ")

Enter a string = ShuBham
Count of uppercase is 2

6.	Given a list [3, 6, 9, 12, 15], calculate the product of all the elements using a for loop.

In [ ]:
list = [3, 6, 9, 12, 15]

product = 1

for n in list:
  product *= n
print(f"product of all element is = {n}")

product of all element is = 15

7.	Given a list [2, 3, 5, 7, 11, 13, 17, 19], find the index of the first occurrence of the number 7 using a for loop.

In [ ]:
list = [2, 3, 5, 7, 11, 13, 17, 19]

for index in range(len(list)):
  if list[index] == 7:
    print(f"the index of the first occurance of number 7 is {index}")

the index of the first occurance of number 7 is 3

8.	Take a string input from the user and reverse it using a for loop.

In [ ]:
string = input("Enter a string = ")

for char in string[::-1]:
  print(char)

Enter a string = shubham
m
a
h
b
u
h
s

9.	Given a list [10, 20, 30, 40, 50], print each element multiplied by 2 using a for loop.

In [ ]:
list = [10, 20, 30, 40, 50]
for n in list:
  print(n*2)

20
40
60
80
100

10.	Given a list of words ['Python', 'Java', 'C++', 'JavaScript', 'Ruby'], find the longest word using a for loop.

In [ ]:
list = ['Python', 'Java', 'C++', 'JavaScript', 'Ruby']
longest_word = list[0]
for char in list:
  if len(char) > len(longest_word):
    longest_word = char
print(f"longest word is {longest_word}")

longest word is JavaScript

11.	Take a string input from the user and count the number of vowels using a for loop. (Vowels: a, e, i, o, u)

In [ ]:
string = input("Enter a string = ")
Vowels = "aeiou"

for char in string:
  if char in Vowels:
    print(char)

Enter a string = shubham
u
a

12.	Given a list of integers [4, 9, 16, 25, 36], print the square root of each number using a for loop.

In [ ]:
num = [4, 9, 16, 25, 36]

for n in num:
  sqrt_value = n ** 0.5
  print(f"suare root of {n} is {sqrt_value}")

suare root of 4 is 2.0
suare root of 9 is 3.0
suare root of 16 is 4.0
suare root of 25 is 5.0
suare root of 36 is 6.0

13.	Given a list [1, 3, 5, 7, 9, 11], check if a user-inputted number is present in the list using a for loop.

In [ ]:
list = [1, 3, 5, 7, 9, 11]
user = int(input("Enter a number = "))
found = False
for n in list:
  if n == user:
    found = True
    break
if found:
  print("Number is present in list")
else:
  print("Number is not present in list")

Enter a number = 5
Number is present in list

14.	Given a list [100, 200, 150, 50, 75], find the minimum number using a for loop

In [ ]:
list = [100, 200, 150, 50, 75]
maximum = list[0]
for n in list:
  if n > maximum:
    maximum = n
print(f"maximum number is {maximum}" )

maximum number is 200

15.	Take a sentence as input from the user and count the number of words using a for loop. (Words are separated by spaces.)

In [ ]:
sentence = input("Enter a sentence = ")
count = 1
for char in sentence:
  if char == " ":
    count += 1
print(f"Number of words in sentence is = {count}")

Enter a sentence = myself shubham
Number of words in sentence is = 2

16.	Given a list [20, 40, 60, 80, 100], create a new list with elements divided by 10 using a for loop.

In [ ]:
list = [20, 40, 60, 80, 100]
new_list = []
for n in list:
  if new_list.append( n / 10):

    print("new_List", new_list)
print(new_list)

[2.0, 4.0, 6.0, 8.0, 10.0]

17.	Given a list ['red', 'green', 'blue', 'yellow', 'purple'], print only the words that have more than 4 letters using a for loop.

In [ ]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']

for n in colors:
  if len(n) > 4:

    print(n)

green
yellow
purple

18.	Take a number as input from the user and generate a list of its multiplication table up to 10 using a for loop.

In [ ]:
num = int(input("Enter a number = "))

for n in range(1,11):
  result = num*n
  print(f"table of {num} is {num}*{n}={result}")

Enter a number = 5
table of 5 is 5*1=5
table of 5 is 5*2=10
table of 5 is 5*3=15
table of 5 is 5*4=20
table of 5 is 5*5=25
table of 5 is 5*6=30
table of 5 is 5*7=35
table of 5 is 5*8=40
table of 5 is 5*9=45
table of 5 is 5*10=50

19.	Given a dictionary {'A': 10, 'B': 20, 'C': 30, 'D': 40}, print all key-value pairs using a for loop.

20.	Given a list of mixed values [1, 'hello', 3.5, 'world', 10, 'Python'], print only the integer values usingÂ aÂ forÂ loop.

In [ ]:
values =[1, 'hello', 3.5, 'world', 10, 'Python']
for n in values:
  if type(n) == int:
    print(n)

1
10