<a href="https://colab.research.google.com/github/Pritu04/Python/blob/main/Copy_of_Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1- Write a program to access the third element from the given list.
Input: [10, 20, 30, 40, 50]
Output: 30

In [ ]:
a = [10, 20, 30, 40, 50]
print(a[2])    # output
print(a[-2])

30
40

2 Write a program to access the last element from the given list using negative indexing.
Input: ['apple', 'banana', 'cherry', 'date']
Output: date

In [ ]:
a = ['apple', 'banana', 'cherry', 'date']
print(a[-1])   # output
print(a[3])

date
date

3 Write a program to change the second element to 100 in the given list.
Input: [5, 10, 15, 20, 25]
Output: [5, 100, 15, 20, 25]

In [ ]:
a=  [5, 10, 15, 20, 25]
a[1] = 100
print(a)    # oupput

[5, 100, 15, 20, 25]

4 Write a program to access the first element using negative indexing.
Input: [7, 14, 21, 28, 35]
Output: 7

In [ ]:
a = [7, 14, 21, 28, 35]
__builtins__.print(a[-5])   # output
# The line below is also correct but was failing due to a shadowed 'print' variable.
# print(a[0])

7

5 Write a program to access the second last element from the given list.
Input: [1, 2, 3, 4, 5, 6]
Output: 5

In [ ]:
a = [1, 2, 3, 4, 5, 6]
__builtins__.print(a[-2])   # output

5

Slicing Questions


6 Write a program to extract the first three elements from the given list.
Input: [100, 200, 300, 400, 500, 600]
Output: [100, 200, 300]

In [ ]:
a = [100, 200, 300, 400, 500, 600]
__builtins__.print(a[:3])   # output

[100, 200, 300]

7 Write a program to extract all elements except the first two from the given list.
Input: [2, 4, 6, 8, 10, 12]
Output: [6, 8, 10, 12]

In [ ]:
a = [2, 4, 6, 8, 10, 12]
__builtins__.print(a[2:])  # output
__builtins__.print(a[5:])

[6, 8, 10, 12]
[12]

8 Write a program to extract every alternate element from the given list.
Input: [5, 10, 15, 20, 25, 30, 35]
Output: [5, 15, 25, 35]

In [ ]:
a = [5, 10, 15, 20, 25, 30, 35]
__builtins__.print(a[::2])    # output
__builtins__.print(a[::3])

[5, 15, 25, 35]
[5, 20, 35]

9 Write a program to reverse the given list using slicing.
Input: [1, 3, 5, 7, 9]
Output: [9, 7, 5, 3, 1]

In [ ]:
a = [1, 3, 5, 7, 9]
__builtins__.print(a[::-1])  # output
__builtins__.print(a[::-3])

[9, 7, 5, 3, 1]
[9, 3]

10 Write a program to extract elements from index 2 to 5 from the given list.
Input: [11, 22, 33, 44, 55, 66, 77]
Output: [33, 44, 55, 66]

In [ ]:
a = [11, 22, 33, 44, 55, 66, 77]
__builtins__.print(a[2:5])  #output

[33, 44, 55]

Nested Slicing Questions



11 Write a program to access the second element from the first nested list.
Input: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Output: 2

In [ ]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
__builtins__.print(nested_list[0][1]) # output

2

12 Write a program to extract the last element from the last nested list.
Input: [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]
Output: i

In [ ]:
nested_list =  [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]
__builtins__.print(nested_list[-1][-1])    # output

i

13 Write a program to extract the second and third lists from a given nested list.
Input: [[10, 20], [30, 40], [50, 60], [70, 80]]
Output: [[30, 40], [50, 60]]

In [ ]:
c = [[10, 20], [30, 40], [50, 60], [70, 80]]
__builtins__.print(c[1:3])   # output

[[30, 40], [50, 60]]

14 Write a program to extract the second element from all nested lists.
Input: [[1, 9], [2, 8], [3, 7], [4, 6]]
Output: [9, 8, 7, 6]

In [ ]:
c =  [[1, 9], [2, 8], [3, 7], [4, 6]]
output = [sublist[1] for sublist in c]
__builtins__.print(output)   # output

[9, 8, 7, 6]

15 Write a program to reverse all sublists in a nested list.
Input: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Output: [[3, 2, 1], [6, 5, 4], [9, 8, 7]]

In [ ]:
 a =  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
 __builtins__.print([sublist[::-1] for sublist in a])   # output

[[3, 2, 1], [6, 5, 4], [9, 8, 7]]

append() Function Questions



1- Write a program to append the number 100 to the given list.
Input: [10, 20, 30, 40]
Output: [10, 20, 30, 40, 100]

In [ ]:
a = [10, 20, 30, 40]
a.append(100)
__builtins__.print(a) # output

[10, 20, 30, 40, 100]

In [ ]:
c = [10, 20, 30, 40]
a.append(100)
__builtins__.print(c)

[10, 20, 30, 40]

2 Write a program to append a string "Hello" to the given list.
Input: ['apple', 'banana', 'cherry']
Output: ['apple', 'banana', 'cherry', 'Hello']

In [ ]:
c =  ['apple', 'banana', 'cherry']
c.append("Hello")
__builtins__.print(c)

['apple', 'banana', 'cherry', 'Hello']


3 Write a program to append a list [5, 6, 7] as a single element in the given list.
Input: [1, 2, 3, 4]
Output: [1, 2, 3, 4, [5, 6, 7]]

In [ ]:
a = [1, 2, 3, 4]
a.append([5, 6, 7])   # output
__builtins__.print(a)

[1, 2, 3, 4, [5, 6, 7]]

extend() Function Questions



4 Write a program to extend the given list by adding another list [50, 60, 70].
Input: [10, 20, 30, 40]
Output: [10, 20, 30, 40, 50, 60, 70]

In [ ]:
c =  [10, 20, 30, 40]
c.extend([50, 60, 70])  # output
__builtins__.print(c)

[10, 20, 30, 40, 50, 60, 70]

5 Write a program to extend a list of numbers [7, 8, 9] with another list [10, 11, 12].
Input: [7, 8, 9]
Output: [7, 8, 9, 10, 11, 12]

In [ ]:
c =  [7, 8, 9]
c.extend([10,11,12])   #output
__builtins__.print(c)

[7, 8, 9, 10, 11, 12]

6 Write a program to extend a list of strings ["cat", "dog"] with another list ["lion", "tiger"].
Input: ["cat", "dog"]
Output: ["cat", "dog", "lion", "tiger"]

In [ ]:
c =  ["cat", "dog"]
c.extend(["lion", "tiger"])  # output
__builtins__.print(c)

['cat', 'dog', 'lion', 'tiger']

pop() Function Questions



7 Write a program to remove the last element from the given list using the pop function.
Input: [10, 20, 30, 40]
Output: [10, 20, 30]

In [ ]:
c =  [10, 20, 30, 40]
c.pop()               # output
__builtins__.print(c)

[10, 20, 30]

8 Write a program to remove the third element from the given list using the pop function.
Input: [1, 2, 3, 4, 5]
Output: [1, 2, 4, 5]

In [ ]:
c =  [1, 2, 3, 4, 5]
c.pop(2)         #output
__builtins__.print(c)

[1, 2, 4, 5]


9 Write a program to remove the first element from the given list using the pop function.
Input: [100, 200, 300, 400]
Output: [200, 300, 400]

In [ ]:
c = [100, 200, 300, 400]
c.pop(0)               #  output
__builtins__.print(c)

[200, 300, 400]


remove() Function Questions



10 Write a program to remove the element 20 from the given list.
Input: [10, 20, 30, 40, 50]
Output: [10, 30, 40, 50]

In [ ]:
c = [10, 20, 30, 40, 50]
c.remove(20)    # output
__builtins__.print(c)

[10, 30, 40, 50]


11 Write a program to remove the first occurrence of "apple" from the given list.
Input: ["banana", "apple", "cherry", "apple"]
Output: ["banana", "cherry", "apple"]

In [ ]:
c = ["banana", "apple", "cherry", "apple"]
c.remove("apple")  # output
__builtins__.print(c)

['banana', 'cherry', 'apple']

12 Write a program to remove the number 5 from the given list if it exists.
Input: [1, 2, 3, 4, 5, 6]
Output: [1, 2, 3, 4, 6]

In [ ]:
 c = [1, 2, 3, 4, 5, 6]
 c.remove(5)  # output
 __builtins__.print(c)

[1, 2, 3, 4, 6]

index() Function Questions


13 Write a program to find the index of the element 50 in the given list.
Input: [10, 20, 30, 40, 50, 60]
Output: 4

In [ ]:
c = [10, 20, 30, 40, 50, 60]
__builtins__.print(c.index(50))   # output

4

In [ ]:
c = [10, 20, 30, 40, 50, 60]
__builtins__.print(c.index(50))

4


14 Write a program to find the index of "cherry" in the given list.
Input: ["apple", "banana", "cherry", "date"]
Output: 2

In [ ]:
c = ["apple", "banana", "cherry", "date"]
__builtins__.print(c.index("cherry"))  # output

2

In [ ]:
c = ["apple", "banana", "cherry", "date"]
__builtins__.print(c.index("cherry"))

2

15 Write a program to find the index of the number 100 in the given list. If not found, print "Not found".
Input: [10, 20, 30, 40]
Output: "Not found"

In [ ]:
a = [10, 20, 30, 40]
if 100 in a:
  __builtins__.print(a.index(100))     # output
else:
  __builtins__.print("Notfound")

Notfound

In [ ]:
a = [10, 20, 30, 40]
print(a.index(100))

ValueError: 100 is not in list

count() Function Questions



16 Write a program to count the occurrences of 5 in the given list.
Input: [1, 5, 2, 5, 3, 5, 4]
Output: 3

In [ ]:
c = [1, 5, 2, 5, 3, 5, 4]
__builtins__.print(c.count(5))  # output

3

17 Write a program to count how many times "apple" appears in the given list.
Input: ["apple", "banana", "apple", "cherry", "apple"]
Output: 3

In [ ]:
c = ["apple", "banana", "apple", "cherry", "apple"]
__builtins__.print(c.count("apple"))   # output

3


18 Write a program to count the occurrences of 100 in the given list.
Input: [10, 20, 30, 40, 50]
Output: 0

In [ ]:
f =  [10, 20, 30, 40, 50]
__builtins__.print(f.count(100))  # output

0

min() and max() Function Questions



19 Write a program to find the minimum value in the given list.
Input: [45, 12, 78, 34, 23]
Output: 12

In [ ]:
s =  [45, 12, 78, 34, 23]
__builtins__.print(min(s))   # output

12

20 Write a program to find the maximum value in the given list.
Input: [99, 55, 73, 21, 64]
Output: 99

In [ ]:
b = [99, 55, 73, 21, 64]
__builtins__.print(max(b))    # output

99

In [ ]:
union operator

In [ ]:
# initialize sets A B
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [ ]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
 A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A.intersection(B)
A & B

{4, 5}

In [ ]:
A - B

{1, 2, 3}

In [ ]:
B-A

{6, 7, 8}

In [ ]:
A.difference(B)
A-B

{1, 2, 3}

In [ ]:
A.symmetric_difference(B)