<a href="https://colab.research.google.com/github/Pritu04/Python/blob/main/practiceProg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numbers = [2,3,4,5,11,22,33,9,8,10]

#Asc
numbers.sort()
#cube
cube_list = []
for n in numbers:
    cube_list.append(n ** 3)

#  dict with number as key and cube as value
result_dict = dict(zip(numbers, cube_list))

print("Sorted List:", numbers)
print("Cube List:", cube_list)
print("Dictionary:", result_dict)

Sorted List: [2, 3, 4, 5, 8, 9, 10, 11, 22, 33]
Cube List: [8, 27, 64, 125, 512, 729, 1000, 1331, 10648, 35937]
Dictionary: {2: 8, 3: 27, 4: 64, 5: 125, 8: 512, 9: 729, 10: 1000, 11: 1331, 22: 10648, 33: 35937}

1.Given a list [2, 3, 5, 7, 11, 13, 17, 19], find the index of the first occurrence of the number 7 using a for loop.

In [5]:
numbers = [2, 3, 5, 7, 11, 13, 7, 19]

i= numbers.index(7)
print(i)

3

2.Given a list of mixed values [1, 'hello', 3.5, 'world', 10, 'Python'], print only the integer values using a for loop.

In [6]:
a = [1, 'hello', 3.5, 'world', 10, 'Python']

for i in a:
    if type(i) == int:
        print(i)

1
10

3.Given a dictionary {'A': 10, 'B': 20, 'C': 30, 'D': 40}, print all key-value pairs using a for loop.

In [7]:
d= {'A': 10, 'B': 20, 'C': 30, 'D': 40}

for key, value in d.items():
    print(key, ":", value)

A : 10
B : 20
C : 30
D : 40