<a href="https://colab.research.google.com/github/Pritu04/Python/blob/main/Pythonpractice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **What Why Platform**

### **Brief introduction to Python:**
high-level, general-purpose, •	Versatility , •	Interpreted Language , •	Dynamically Typed: And 	Object-Oriented programming language **readability and simplicity**.

In [ ]:
num1 = 20
num2 = 10
num1+num2

30

In [ ]:
num1 , num2 = 10 ,  30.90
print("Addition=", num1+num2)

Addition= 40.9

In [ ]:
Print = 10
b = 20
sum = Print + b
print(sum)

TypeError: 'int' object is not callable

In [ ]:
Identifiers = num1 , num2 , num2 (USer defined Words , var , func )
oprators = ( = , + )
Literal = 10 , 20 ( data )
Keywords = print ( syntax , reseverd words , predefined )= 36 , 39

## **In Python, a token is the smallest unit in the source code. When you write a Python program, the code is broken down into individual tokens during the lexical analysis phase, also known as tokenization. Tokens are the building blocks of the language, and they represent the different elements in your code, such as keywords, identifiers, literals, operators, and punctuation.**

In [ ]:
1.	Keywords
2.	Identifiers
3.	Literals
4.	Operators

In [ ]:
In Python, keywords are reserved words that have special meanings and
cannot be used as identifiers (names for variables, functions, classes, etc.).
These words are an integral part of the Python language syntax. Here is a list of Python keywords:

In [ ]:
a = 10
b = 20
sum = a + b
print(sum)

TypeError: 'int' object is not callable

In [ ]:
number = 10
num1 = 12.5

In [ ]:
•	True and False are the two boolean literals.

boolean_true = True
boolean_false = False

In [ ]:
3-	String Literals:
•	Enclosed in either single (') or double (") quotes.
•	Examples: 'hello', "world", and '''multiline string'''.

In [ ]:
name = 'Abhishek'
name2= "Abhishek"
text = """ i'm abhi """
print(name)
print(name2)

Abhishek
Abhishek

In [ ]:
print(text)

 i'm abhi

In [ ]:
a = ''' Abhishek
 s Wavhal '''

In [ ]:
a

' Abhishek \n s Wavhal '

In [ ]:
sub1 = 50
sub2 = 55

marks = [50,34,55,36,44]

print(marks)

[50, 34, 55, 36, 44]

In [ ]:
•	List Literals: Defined using square brackets [ ].
•	Tuple Literals: Defined using parentheses ( ).
•	Dictionary Literals: Defined using curly braces { }.
•	Set Literals: Defined using curly braces { }.

list_literal = [1, 2, 3]
tuple_literal = (4, 5, 6)
dictionary_literal = {'a': 1, 'b': 2}
set_literal = {1, 2, 3}

In [ ]:
a = 10
b = 20.2

In [ ]:
print(type(a))
type(b)

<class 'int'>

float

In [ ]:
sum = a +b
print(sum)
print(type(sum))

30.2
<class 'float'>

In [ ]:
# Programme to find midpoint of two numbers
# abhi
# will take input

num1 = 10
num2 = 20
midpoint = (num1 + num2) / 2

In [ ]:
midpoint

15.0

In [ ]:
Comments are hints that we add to our code to make it easier to understand.
When executing code, Python's interpreter ignores comments.

	We should use comments for the following reasons:
1-	Comments make our code readable for future reference.
2-	Comments are used for debugging purposes.
3-	We can use comments for code collaboration as it helps peer developers to understand our code.

In [ ]:
'''This is python prog fro addition
of two numbers '''


print('abhi')

abhi

## 1-	Comments make our code readable for future reference.
## 2-	Comments are used for debugging purposes.
## 3-	We can use comments for code collaboration as it helps peer developers to understand our code.

In [ ]:
a = 'Abhishek'
b= 'Wavhal'

print(a)

Abhishek

In [ ]:
print('Abhishek' +' '+ b)

Abhishek Wavhal

In [ ]:
print(a , end = ' - ')
print(b)

Abhishek - Wavhal

In [ ]:
# Write a python Code for addition of Two numbers

Num1 = input("Enter a Number")
Num2 = input("Enter 2nd Number")
sum = int(Num1) + int(Num2)
print(sum)

Enter a Number25
Enter 2nd Number35
60

In [ ]:
# Write a python Code for addition of Two numbers

Num1 = int(input("Enter a Number - "))
Num2 = int(input("Enter 2nd Number - "))
sum = Num1 + Num2
print('Addition of two numbers = ' , sum)

Enter a Number - 12
Enter 2nd Number - 13
Addition of two numbers =  25

In [ ]:
# Write a python Code for addition of Two numbers

Num1 = int(input("Enter a Number - "))
Num2 = int(input("Enter 2nd Number - "))
sum = Num1 + Num2

# print('Addition of two numbers = ' , sum)

print("Addition of",Num1,'and',Num2," = ",sum)

Enter a Number - 2
Enter 2nd Number - 2
Addition of 2 and 2  =  4

In [ ]:
addition_of_two_numbers = Num1+Num2

![image.png]()

![image.png]()

In [ ]:
1. Python Arithmetic Operators
+	Addition	5 + 2 = 7
-	Subtraction	4 - 2 = 2
*	Multiplication	2 * 3 = 6
/	Division	      10 / 3 = 3.333


--- Special arithetic Operators ---
//        floor division    10 // 3 = 3
%         Modulus/ modulo   5 % 2 = 1
**         exponential       4 ** 2 = 16  , 2 **3 = 8

In [ ]:
4 ** 2

16

In [ ]:
a = 10
a -= 2
a

8

In [ ]:
Operator	       Name	             Example
=	           Assignment Operator	   a = 7
+=             addition assignment      a + = 5
-=           substraction Assignment   a -= 2

In [ ]:
a = 10     # a equals to 10
a == 20    # a is equals to 20

In [ ]:
a = 10

a != 10

False

In [ ]:
a != 20

True

In [ ]:
Operator	Meaning	Example
==	     Is Equal To	                 3 == 5 gives us False
!=	Not Equal To	                     3 != 5 gives us True
>	           Greater Than	              3 > 5 gives us False
>=           grater than or equals to

In [ ]:
a = 10
b = 10

print(a >= b)

True

In [ ]:
a = 10
b = 20

In [ ]:
(a == 10) or (b == 50)

True

In [ ]:
(not a)  and (a == 10)

False

In [ ]:
name = 'Sai'

'a' in name

True

In [ ]:
'S' not in name

False

In [ ]:
a = [ 10, 12, 1 ,13 ,56]


56 in a

True

In [ ]:
a = [1,2,3]
b = [1,2,3]

In [ ]:
a == b

True

In [ ]:
a is b

False

In [ ]:
a[0] = 10

In [ ]:
a

[10, 2, 3]

In [ ]:
a == b

False

In [ ]:
a = [1,2,3]
b = a

In [ ]:
a == b

True

In [ ]:
a is not b

False

In [ ]:
a[1] = 10
print(a)
print(b)

[10, 2, 3]
[10, 2, 3]

In [ ]:
# Q 5 = Take a number as input and display its square and cube.

num = int(input("Enter a number = "))
print("Square = ", num * num )
print("Cube = ",num ** 3)

Enter a number = 2
Square =  4
Cube =  8

In [ ]:
# Q 6 = Take two numbers as input and display their quotient and remainder.

num1 = int(input("Enter a number = "))
num2 = int(input("Enter 2nd number = "))
print("Quotient = ",num1 // num2)
print("Remainder = ",num1 % num2)

Enter a number = 10
Enter 2nd number = 3
Quotient =  3
Remainder =  1

In [ ]:
# Q 9 = 9.	Take five numbers as input representing marks obtained and total marks. Display the percentage.
sub1 = int(input("Enter Marks of Sub 1 = "))
sub2 = int(input("Enter Marks of Sub 2 = "))
sub3 = int(input("Enter Marks of Sub 3 = "))
sub4 = int(input("Enter Marks of Sub 4 = "))
sub5 = int(input("Enter Marks of Sub 5 = "))

total_marks = sub1+sub2+sub3+sub4+sub5
per = total_marks / 5

print("Per = ", per)

Enter Marks of Sub 1 = 85
Enter Marks of Sub 2 = 90
Enter Marks of Sub 3 = 85
Enter Marks of Sub 4 = 95
Enter Marks of Sub 5 = 90
Per =  89.0

In [ ]:
# Q 10 = 10.	Write a Python program to swap two numbers entered by the user without using a third variable.

name  = 'abhishek'
name2 = 'Sagar'

name , name2  = name2 ,name

print(name)
print(name2)

Sagar
abhishek

In [ ]:
# 12 Write a Python program to convert temperature from Celsius to Fahrenheit using the
 # formula: F = (C × 9/5) + 32.

Celsius = int(input("Enter Temperature in Celsius = "))
Fahrenheit = (Celsius * (9/5)) + 32

print("Fahrenheit = ",Fahrenheit)

Enter Temperature in Celsius = 56
Fahrenheit =  132.8

In [ ]:
3

In [ ]:
sai = "We are Learning Python Strings"
print(sai)

We are Learning Python Strings

In [ ]:
sai = "We are Learning's Python Strings"
print(sai)

We are Learning's Python Strings

In [ ]:
info = '''We are
learning Python
from 11 am'''

print(info)

We are
learning Python
from 11 am

In [ ]:
a = 'Python'
a[-1]

'n'

In [ ]:
sai = "We are Learning Python Strings"

In [ ]:
1 == -1

False

In [ ]:
name = 'abhi wavhal'

In [ ]:
name[4]

' '

In [ ]:
name = "Abhishek"

In [ ]:
name[0:4:1]

'Abhi'

In [ ]:
name[ :  : -1]

'kehsihbA'

In [ ]:
s = input('Enter the string = ')  # Abhishek
start = s[0:2]
end = s[-2:]
print(start+end)

Enter the string = Abhishek
Abek

In [ ]:
12 * 4

48

In [ ]:
a = 'abhi'
a[2]

'h'

In [ ]:
a.find('h')

2

In [ ]:
s = input("ENter a string = ") #abhishek = 8
n = int(input("Enter index number = ")) # = 9
# if len(s) > n:
start = s[:n]
end = s[n+1 :]
print(start+end)
# else:
#   print("Invalid Input")

ENter a string = Abhishek
Enter index number = 4
Abhihek

In [ ]:
s = input("ENter a string = ") #abhishek = 8
print(s.count('@'))

ENter a string = abhi@@abhi@
3

In [ ]:
len(s)

11

In [ ]:
•	A list is a mutable, ordered collection of elements.
•	Mutable: Elements can be modified after the list is created.
•	Ordered: Elements have a specific order and can be accessed by their index.

In [ ]:
a = [12, 33," ",'Abhi,,,,shek',True,False,('A',"Sagar","C")]

In [ ]:
a[-1][1][2]

'g'

In [ ]:
loss_functions = ['Mean Absolute Error','Mean Squared Error',
                  'Huber Loss','Log Loss','Hinge       Loss       ']

In [ ]:
loss_functions[0::2]

['Mean Absolute Error', 'Huber Loss', 'Hinge       Loss       ']

In [ ]:
a = 'abhishek'
a + '123'

'abhishek123'

In [ ]:
a

'abhishek'

In [ ]:
loss_functions = ['Mean Absolute Error','Mean Squared Error',
                  'Huber Loss','Log Loss','Hinge       Loss       ']
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge       Loss       ']

In [ ]:
loss_functions[-1] = 'Hinge Loss1'

In [ ]:
loss_functions =loss_functions + ['Syntax Error']

In [ ]:
loss_functions

['Mean Absolute Error',
 'Mean Squared Error',
 'Huber Loss',
 'Log Loss',
 'Hinge Loss1',
 'Syntax Error']

In [ ]:
my_list = [ 1, 2,11,22,['Abhishek Wavhal', 'Sagar','Sai'],'Arbor Tech Solution']

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-2380947463.py, line 1)

In [ ]:
my_list[-1][5:10]

' Tech'

In [ ]:
my_list  = [3434,323,23,2,45,46,7,7,5,4,3,43]

In [ ]:
sorted(my_list, reverse = True)

[3434, 323, 46, 45, 43, 23, 7, 7, 5, 4, 3, 2]

In [ ]:
my_list

[3434, 323, 23, 2, 45, 46, 7, 7, 5, 4, 3, 43]

In [ ]:
•	Use the append() method to permanently add an item to the end of a list.
•	append() method takes the element which you want to add to the list as an argument

In [ ]:
list1 = ['abhi',12,13,1,14,155]

In [ ]:
list1

['abhi', 12, 13, 1, 14, 155, 'Sagar', [12, 13, 15]]

In [ ]:
list1.append([12,13,15])

In [ ]:
list1

['abhi', 12, 13, 1, 14, 155, 'Sagar', [12, 13, 15]]

In [ ]:
•	Use pop() to "pop off" an item from the list.
- •	By default pop() takes off the element at the last index,
- but you can also specify which index to pop off.

In [ ]:
list1.remove(155)

In [ ]:
list1

[12, 13, 1, 14, 155, 'Sagar', 'Lubba', 'Wubba', 'Lubba']

In [ ]:
my_list=[2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, 'Wubba']

In [ ]:
my_list.count(3)

2

In [ ]:
# 4.	Write a Python program to find the average of elements in a list.

my_list = [98,90,95,92,100,99,100,87]

avg = sum(my_list) / len(my_list)

print("Avrage = ",avg)

Avrage =  95.125

In [ ]:
# 9.	Write a Python program to sort elements in a list in ascending order.
my_list = [98,90,95,92,100,99,100,87]

sorted(my_list,reverse=True)

[100, 100, 99, 98, 95, 92, 90, 87]

In [ ]:
# 14 Write a program to extract the second element from all nested lists.
# Input: [[1, 9], [2, 8], [3, 7], [4, 6]]
# Output: [9, 8, 7, 6]
l = [[1, 9], [2, 8], [3, 7], [4, 6]]

l[0:   ,  1]

[[1, 9], [2, 8], [3, 7], [4, 6]]

In [ ]:
import numpy as np
a = np.array([[1, 9], [2, 8], [3, 7], [4, 6]])
print(a)
a[ : ,  1 ]

[[1 9]
 [2 8]
 [3 7]
 [4 6]]

array([9, 8, 7, 6])

In [ ]:
15 Write a program to reverse all sublists in a nested list.
Input: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Output: [[3, 2, 1], [6, 5, 4], [9, 8, 7]]

In [ ]:
l = [1,2,4,5,1,2,3,4,5,10,12,1,2,3,4]
ans = set(l)
ans

{1, 2, 3, 4, 5, 10, 12}

In [ ]:
In Python tuples are very similar to lists, however,
 unlike lists they are immutable meaning they can not be changed.

In [ ]:
t = (1,'a','abhishek',True,None,[1,2,3])
t[-1]

[1, 2, 3]

In [ ]:
t = (1,'a','abhishek',True,None,[1,2,3])
t = list (t)
t[2] = 'Sagar'
t= tuple(t)
print(t)

(1, 'a', 'Sagar', True, None, [1, 2, 3])

In [ ]:
3.	if-elif-else statement:

TypeError: can only concatenate tuple (not "int") to tuple

In [ ]:
Sets are an unordered collection of unique elements. We can construct them by using the set() function.

Sets cannot have duplicates.

Sets are mutable just like lists.

In [ ]:
a = set()
s = {1,2,3,1,2,3,99,1,23,44,1,0}
print(s)

{0, 1, 2, 99, 3, 23, 44}

In [ ]:
len(s)

7

In [ ]:
s = {'Abhi',1,2,True,(1,2,3)}

In [ ]:
s

{(1, 2, 3), 1, 2, 'Abhi'}

In [ ]:
s.add(11)
s

{(1, 2, 3), 1, 11, 2, 'Abhi', 'Sagar'}

In [ ]:
s.update([3,4,5,611,1,2,'Abhi',9.11])
s

{(1, 2, 3), 1, 11, 2, 3, 4, 5, 611, 9.11, 'Abhi', 'Sagar'}

In [ ]:
s.remove((1,2,3))
s

{1, 11, 2, 3, 4, 5, 'Abhi', 'Sagar'}

In [ ]:
city_list = ['Delhi','Patna','Cuttack','Guwahati','z']
river_list = ['Yamuna','Ganga','Mahanadi','Brahamputra','Thames']

In [ ]:
dict(zip(city_list,river_list))

{'Delhi': 'Yamuna',
 'Patna': 'Ganga',
 'Cuttack': 'Mahanadi',
 'Guwahati': 'Brahamputra',
 'z': 'Thames'}

### <code>union()</code>


* <code>union()</code> method returns the union of two sets


* Also denoted by the operator <code>|</code>

In [ ]:
# Initialize sets A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

### <code>union()</code>


* <code>union()</code> method returns the union of two sets


* Also denoted by the operator <code>|</code>

### <code>intersection()</code>


* <code>intersection()</code> method returns the intersection of two sets


* Also denoted by the operator <code>&</code>

### <code>difference()</code>


* <code>difference()</code> method returns the difference of two sets


* Difference of the set <code>B</code> from set <code>A</code> i.e, <code>(A - B)</code> is a set of elements that are only in <code>A</code> but not in <code>B</code>


* Also denoted by the operator <code>-</code>

### <code>symmetric_difference()</code>


* <code>symmetric_difference()</code> method returns the set of elements in A and B but not in both (excluding the intersection)


* Also denoted by the operator <code>^</code>

In [ ]:
A.union(B)
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A.intersection(B)
A & B

{4, 5}

In [ ]:
A.difference(B)
A-B

{1, 2, 3}

In [ ]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

# Dictionaries

* We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python.


* If you're familiar with other languages you can think of these Dictionaries as hash tables.


* So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.


* A Python dictionary consists of a key and then an associated value. That value can be almost any Python object. So a dictionary object always has elements as key-value pairs


## Constructing a Dictionary


* A dictionary object is constructed using curly braces <code>{key1:value1,key2:value2,key3:value3}</code>

In [ ]:
d = {1: 'Aniket' , 1:'Pranav',1:1,2,3,4 }

In [ ]:
d[1]

[1, 2, 3, 4]

In [ ]:
list(d.values())

['Aniket', 'Pranav', [1, 2, 3, 4]]

In [ ]:
Roll_01 = {'Name':'Sai Kundgar',"Salary": 95000 , 'Dept':'DS' , "TECH":['SQL',"Power Bi","Python","Excel"]}

In [ ]:
Roll_02 = {'Name':'Aniket Rajput',"Salary": 85000 , 'Dept':'AI' , "TECH":['SQL',"Power Bi","Python","Excel","ML"]}

In [ ]:
Roll_03 = {'Name':'Pranav Dhumal',"Salary": 115000 , 'Dept':'DA' , "TECH":['Django',"Power Bi","Python","Excel"]}

In [ ]:
Employees = {'Roll_01': {'Name':'Sai Kundgar',"Salary": 95000 , 'Dept':'DS' , "TECH":['SQL',"Power Bi","Python","Excel"]} ,
             'Roll_02' : {'Name':'Aniket Rajput',"Salary": 85000 , 'Dept':'AI' , "TECH":['SQL',"Power Bi","Python","Excel","ML"]},
             'Roll_03' : {'Name':'Pranav Dhumal',"Salary": 115000 , 'Dept':'DA' , "TECH":['Django',"Power Bi","Python","Excel"]}}

In [ ]:
Employees['Roll_02']['Name']

'Aniket Rajput'

In [ ]:
Roll_03['Salary'] = 150000

In [ ]:
Roll_03

{'Name': 'Pranav Dhumal',
 'Salary': 150000,
 'Dept': 'DA',
 'TECH': ['Django', 'Power Bi', 'Python', 'Excel']}

### <code>keys()</code>


* <code>keys()</code> method returns the list of keys in the dictionary object

In [ ]:
Roll_03.keys()

dict_keys(['Name', 'Salary', 'Dept', 'TECH'])

In [ ]:
Roll_03.values()

dict_values(['Pranav Dhumal', 115000, 'DA', ['Django', 'Power Bi', 'Python', 'Excel']])

In [ ]:
list(Roll_03.items())

[('Name', 'Pranav Dhumal'),
 ('Salary', 115000),
 ('Dept', 'DA'),
 ('TECH', ['Django', 'Power Bi', 'Python', 'Excel'])]

In [ ]:
Roll_03['Bonus']

KeyError: 'Bonus'

In [ ]:
Roll_03.get('Salary')

200000

In [ ]:
Roll_03['Salary']=200000

In [ ]:
Roll_03['Bonus']=15000

In [ ]:
Roll_03

{'Name': 'Pranav Dhumal',
 'Salary': 200000,
 'Dept': 'DA',
 'TECH': ['Django', 'Power Bi', 'Python', 'Excel'],
 'Bonus': 15000}

In [ ]:
len(Roll_03)

5

In [ ]:
Roll_03.update({'Salary':50000, 'Bonus':5000,'NEw':123})

In [ ]:
Roll_03

{'Name': 'Pranav Dhumal',
 'Salary': 50000,
 'Dept': 'DA',
 'TECH': ['Django', 'Power Bi', 'Python', 'Excel']}

In [ ]:
Roll_03.pop('Bonus')

5000

In [ ]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
marks = [40, 50, 60]

In [ ]:
dict(zip(name,marks))

{'Manjeet': 40, 'Nikhil': 50, 'Shambhavi': 60}

In [ ]:
3.	if-elif-else statement: This statement allows you to check multiple conditions.
It checks each condition one by one. If a condition evaluates to true,
 the corresponding block of code is executed. If none of the conditions are true,
 the code inside the else block is executed (if present).

In [ ]:
age = int(input("Enter your age = "))

if age > 18 :
  print('OK')

Enter your age = 52
You can Drive car/bike
abc

In [ ]:
num = int(input("Enter a number = "))
if num > 0 :
  print(num , " is Positive ")

else:
  print(num, ' is Neg ')

Enter a number = 12
12  is Positive

In [ ]:
num1 = int(input("Enter 1st number = "))
num2 = int(input("Enter 2nd number = "))
num3 = int(input("Enter 3rd number = "))

if num1 > num2 and num1 > num3 :
  print('num1')

elif num2 > num3 and num2 > num1:
  print('num2')

else:
  print('num3')

Enter 1st number = 1
Enter 2nd number = 2
Enter 3rd number = 90
num3

In [ ]:
age =  int(input("Enter your age = "))

if age >= 18 :
  if age > 70 :
    print("He Can not Drive")
  else:
    print('he Can drive')
else:
  print("He can not Drive")

Enter your age = 18
he Can drive

In [ ]:
n = int(input('Enter a number ='))

if n >= 0:
  if n == 0 :
    print('Number is Zero/netrual')
  else:
    print('Number is Positive')
else:
  print("Neg")

Enter a number =-25
Neg

Question 1: Write a Python program that assigns a grade to a student based on their exam score. If the score is greater than or equal to 90, assign grade "A"; if it is between 80 and 89, assign grade "B"; if it is between 70 and 79, assign grade "C"; if it is between 60 and 69, assign grade "D"; otherwise, assign grade "F".

In [ ]:
score = int(input("Enter the exam score: "))
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

In [ ]:
my_list = [12,15,1,25,18]
my_list[0]

12

In [ ]:
my_list[1]

15

In [ ]:
# loops
# for
# while

In [ ]:
my_list = [12,15,1,25,18]

for i in my_list:
  print('ans ', i)

ans  12
ans  15
ans  1
ans  25
ans  18

In [ ]:
std_data = ['Sagar','Sai','Pranav','Shubham']

print(std_data[0] ,' Have pass with Distinction')
print(std_data[1] ,' Have pass with Distinction')
print(std_data[2] ,' Have pass with Distinction')
print(std_data[3] ,' Have pass with Distinction')

Sagar  Have pass with Distinction
Sai  Have pass with Distinction
Pranav  Have pass with Distinction
Shubham  Have pass with Distinction

In [ ]:
std_data = ['Sagar','Sai','Pranav','Shubham']

for i in std_data:
  print(i ,' Have pass with Distinction')

Sagar  Have pass with Distinction
Sai  Have pass with Distinction
Pranav  Have pass with Distinction
Shubham  Have pass with Distinction

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]

for i in my_list:
  print(i * 8)

8
16
24
32
40
48
56
64
72
80

In [ ]:
/

my_list = [1,2,3,4,5,6,7,8,9,10]

for i in my_list:
  print('12 X ',i," = ",12*i)

12 X  1  =  12
12 X  2  =  24
12 X  3  =  36
12 X  4  =  48
12 X  5  =  60
12 X  6  =  72
12 X  7  =  84
12 X  8  =  96
12 X  9  =  108
12 X  10  =  120

In [ ]:
Loops are important in Python or in any other programming language
as they help you to execute a block of code repeatedly.
You will often come face to face with situations
where you would need to use a piece of code over and over
but you don't want to write the same line of code multiple times.

In [ ]:
for item in object:
    statements to do stuff

In [ ]:
num = 6

facto = 1
for i in range(1,num+1):
  facto = facto * i

print(facto)

720

In [ ]:
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]

for num in list_of_numbers:
  print(num ," = " , num**2)

1  =  1
2  =  4
4  =  16
6  =  36
11  =  121
14  =  196
17  =  289
20  =  400

In [ ]:
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]

square_list = []

for num in list_of_numbers:
  square_list.append(num**2)

In [ ]:
dict(zip(list_of_numbers,square_list))

{1: 1, 2: 4, 4: 16, 6: 36, 11: 121, 14: 196, 17: 289, 20: 400}

In [ ]:
numbers = [2,3,4,5,11,22,33,9,8,10]

# sort the list in asc
numbers = sorted(numbers)  # numbers.sort()

# cube
cube_list = []
#list cube save
for n in numbers:
  cube_list.append(n**3)


#Dict (key = numbers , values = Cube)
dict(zip(numbers,cube_list))

{2: 8,
 3: 27,
 4: 64,
 5: 125,
 8: 512,
 9: 729,
 10: 1000,
 11: 1331,
 22: 10648,
 33: 35937}

In [ ]:
t= ('abhi','sagar','sai','shubham')

l = []

for elm in t:
  l.append(elm[0]+elm[-1])

print(l)

['ai', 'sr', 'si', 'sm']

In [ ]:
t= ('abhi','sagar','sai','shubham')
for i in t:
  print(i+'@arbor.com')

abhi@arbor.com
sagar@arbor.com
sai@arbor.com
shubham@arbor.com

In [ ]:
numbers = [1,2,3,4,5]

max = 0
for i in numbers:
  if max < i:
    max = i
print('Max = ',max)

Max =  555

In [ ]:
numbers = [1,2,3,4,5]

add = 1
for i in numbers:
  add = add*i

print(add)

120

In [ ]:
num = int(input('Enter a number = '))

f = 1
for i in range(0,num+1):
  f = f * i
print(f)

Enter a number = 5
120

In [ ]:
for i in range(50 ,61):
  print(i, end=" ")

50 51 52 53 54 55 56 57 58 59 60

In [ ]:
fruits = ['apple', 'banana', 'cherry']

for index,i in enumerate(fruits,start = 1):
  print(index ," = ",i)

1  =  apple
2  =  banana
3  =  cherry

In [ ]:
# 4. Counting the number of uppercase letters in a string provided by the user using a for loop
string = input("Enter a string ") # 'Abhishek Wavhal'

count = 0
for char in string:
  if char.isupper():
    count = count + 1
print(count)

Enter a string ABJKFBSFBajbmjsbdjsabdhsbdBAjdbasjdbjs
11

In [ ]:
while loop ,

SyntaxError: invalid syntax (ipython-input-780860527.py, line 1)

In [ ]:
# while
# Functions
# OPPS
emp.plot(kind='line')