<a href="https://colab.research.google.com/github/Pritu04/Python/blob/main/setAnddictionaryAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.	Given a tuple my_tuple = (5, 10, 15, 20, 25), how can you access the element 15 using positive indexing? Write a Python program to achieve this.

In [ ]:
my_tuple = (5, 10, 15, 20, 25)
tuple = list(my_tuple)
tuple[2]

15

2.	Given a tuple my_tuple = (100, 200, 300, 400, 500), how can you access the element 300 using negative indexing? Write a Python program to achieve this.

In [ ]:
my_tuple = (100, 200, 300, 400, 500)
my_list_var = list(my_tuple)
my_list_var[-3]

300

3.	Given a tuple my_tuple = (1, 2, 3, (4, 5, 6)), how can you access the element 6 from the nested tuple using indexing? Write a Python program to achieve this.

In [ ]:
my_tuple = (1, 2, 3, (4, 5, 6))
my_tuple[-1][-1]

6

4.	Given a tuple my_tuple = (5, 10, 15, 20, 25), how can you slice it to obtain (10, 15, 20)? Write a Python program to achieve this.

In [ ]:
my_tuple = (5, 10, 15, 20, 25)
my_tuple[1:-1]

(10, 15, 20)

5.	Given a tuple my_tuple = ('Python', 'Java', 'C++', 'JavaScript'), how can you access the last element without knowing its index? Write a Python program to achieve this

In [ ]:
my_tuple = ('Python', 'Java', 'C++', 'JavaScript')
value = "JavaScript"
if value in my_tuple :
   print(f"yes {value} in my_tuple")
else :
   print(f"no {value} in my_tuple")

yes JavaScript in my_tuple

In [ ]:
my_tuple[-1]

'JavaScript'

6.	Given two tuples tuple1 = (1, 2, 3) and tuple2 = (4, 5, 6), how can you concatenate them into a single tuple? Write a Python program to achieve this.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
# z = zip(tuple1,tuple2)
# print(z)
tuple = tuple1+tuple2
print(tuple)

(1, 2, 3, 4, 5, 6)

7.	Given a tuple my_tuple = ('x', 'y', 'z', 'a'), how can you check if the element 'y' exists in the tuple? Write a Python program to achieve this.

In [ ]:
my_tuple = ('x', 'y', 'z', 'a')
value = "y"
if value in my_tuple :
   print(f"Yes {value} in my_tuple")
else :
   print(f"No {value} in my_tuple")

Yes y in my_tuple

8.	Given a tuple my_tuple = ('apple', 'banana', 'apple', 'cherry', 'apple'), how can you count the number of occurrences of 'apple'? Write a Python program to achieve this.

In [ ]:
my_tuple = ('apple', 'banana', 'apple', 'cherry', 'apple')
my_tuple.count("apple")

3

9.	Given a tuple my_tuple = (True, False, True, False), how can you find the number of True values in the tuple? Write a Python program to achieve this.

In [ ]:
my_tuple = (True, False, True, False)
my_tuple.count(True)

2

10.	Given a tuple my_tuple = ('Python', 3.8, True, (1, 2, 3)), how can you access the nested tuple (1, 2, 3)? Write a Python program to achieve this.

In [ ]:
my_tuple = ('Python', 3.8, True, (1, 2, 3))
my_tuple[-1]

(1, 2, 3)

11.	Given a tuple my_tuple = (10, 20, 30), how can you convert it into a list? Write a Python program to achieve this.

In [ ]:
my_tuple = (10, 20, 30)
new = list(my_tuple)
print(new)

[10, 20, 30]

12.	Given a tuple my_tuple = (7, 14, 21, 28, 35), how can you find the smallest and largest elements? Write a Python program to achieve this.

In [ ]:
my_tuple = (7, 14, 21, 28, 35)
minimum = min(my_tuple)
maximum = max(my_tuple)
print(minimum)
print(maximum)

7
35

13.	Given a tuple my_tuple = (2, 4, 6, 8, 10), how can you find the sum of all elements? Write a Python program to achieve this.

In [ ]:
my_tuple = (2, 4, 6, 8, 10)
new = sum(my_tuple)
print(new)

30

14.	Given a tuple my_tuple = ('a', 'b', 'c', 'd'), how can you reverse the order of elements? Write a Python program to achieve this.

In [ ]:
my_tuple = ('a', 'b', 'c', 'd')
my_tuple[: :-1]

('d', 'c', 'b', 'a')

15.	Given two tuples tuple1 = (1, 2, 3) and tuple2 = (1, 2, 3), how can you check if they are equal? Write a Python program to achieve this.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
if tuple1 == tuple2 :
   print("Yes")
else :
   print("No")

Yes

16.	Given a tuple my_tuple = (10, 20, 30, 40), how can you unpack its values into separate variables? Write a Python program to achieve this.

In [ ]:
my_tuple = (10, 20, 30, 40)
a, b, c, d = my_tuple
print(a, b, c, d)

10 20 30 40

17.	Given a tuple my_tuple = (3, 6, 9, 12, 15), how can you convert it into a string? Write a Python program to achieve this.

In [ ]:
my_tuple = (3, 6, 9, 12, 15)
text = str(my_tuple)
print(text)

(3, 6, 9, 12, 15)

18.	Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you iterate through it using a for loop? Write a Python program to achieve this.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
for n in my_tuple :
    print(n)

1
2
3
4
5

19.	Given a tuple my_tuple = (100, 200, 300, 400), how can you convert it into a dictionary with keys as index positions? Write a Python program to achieve this.

In [ ]:
my_tuple = (100, 200, 300, 400)
result = {index : value for index , value in enumerate(my_tuple)}
print(result)

{0: 100, 1: 200, 2: 300, 3: 400}

20.	Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you delete the entire tuple? Write a Python program to achieve this.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
del(my_tuple)

Set Interview Questions

Question 1: Given a set my_set = {10, 20, 30, 40, 50}, how can you check if the number 30 exists in the set? Write a Python program to achieve this.

In [ ]:
my_set = {10, 20, 30, 40, 50}
target_value = 30
if target_value in my_set :
   print(f"Yes {target_value} in my_set")
else :
  print(f"No {target_value} is not in my_set")

Yes 30 in my_set

Question 2: Suppose you have a set my_set = {1, 2, 3, 4, 5}. How can you add the element 6 to this set? Write a Python program to achieve this.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

Question 3: Given a set my_set = {10, 20, 30, 40, 50}, how can you remove the element 30 from the set? Write a Python program to achieve this.

In [ ]:
my_set = {10, 20, 30, 40, 50}
my_set.remove(30)
print(my_set)

{50, 20, 40, 10}

Question 4: Suppose you have two sets: set1 = {1, 2, 3} and set2 = {3, 4, 5}. How can you find their union? Write a Python program to achieve this.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.union(set2)
set1 | set2

{1, 2, 3, 4, 5}

Question 5: Given two sets set1 = {10, 20, 30} and set2 = {30, 40, 50}, how can you find their intersection? Write a Python program to achieve this.

In [ ]:
set1 = {10, 20, 30}
set2 = {30, 40, 50}
set1 & set2

{30}

Question 6: Suppose you have two sets: set1 = {10, 20, 30} and set2 = {30, 40, 50}. How can you find elements that are in set1 but not in set2? Write a Python program to achieve this.

In [ ]:
set1 = {10, 20, 30}
set2 = {30, 40, 50}
set1 - set2

{10, 20}

Question 7: Given a set my_set = {1, 2, 3}, how can you remove an element randomly from the set? Write a Python program to achieve this.

In [ ]:
my_set = {1, 2, 3}
removed_element = my_set.pop()
print(removed_element)

1

Question 8: Suppose you have a set my_set = {1, 2, 3, 4, 5}, how can you clear all elements from this set? Write a Python program to achieve this.

In [ ]:
my_set = {1, 2, 3, 4, 5}
del(my_set)

Question 9: Given two sets set1 = {1, 2, 3} and set2 = {3, 4, 5}, how can you find the symmetric difference? Write a Python program to achieve this.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference(set2)
set1^set2

{1, 2, 4, 5}

Question 10: Suppose you have a set my_set = {10, 20, 30, 40, 50}, how can you find the length of the set? Write a Python program to achieve this.

In [ ]:
my_set = {10, 20, 30, 40, 50}
len(my_set)

5

Question 11: Given a set set1 = {10, 20, 30} and a frozen set set2 = frozenset({30, 40, 50}), can you modify set2? Write a Python program to explain why.

In [ ]:
set1 = {10, 20, 30}
set2 = frozenset({30, 40, 50})

Question 12: Suppose you have a set my_set = {1, 2, 3}. How can you update it with another set {4, 5, 6}? Write a Python program to achieve this.

In [ ]:
my_set = {1, 2, 3}
my_set.update([4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

Question 13: Given a set my_set = {'apple', 'banana', 'cherry'}, how can you check if it is a subset of another set { 'apple', 'banana', 'cherry', 'date'}? Write a Python program to achieve this.

In [ ]:
my_set = {'apple', 'banana', 'cherry'}
my_set2 = { 'apple', 'banana', 'cherry', 'date'}
result = set(my_set).issubset(set(my_set2))
print(result)

True

In [ ]:
my_set = {'apple', 'banana', 'cherry'}
my_set2 = { 'apple', 'banana', 'cherry', 'date'}

set(my_set) >= set(my_set2)

False

In [ ]:
my_set = {'apple', 'banana', 'cherry'}
my_set2 = { 'apple', 'banana', 'cherry', 'date'}

if set(my_set) in set(my_set2):
      print("issubset =  True")
elif set(my_set) not in set(my_set2):
      print("issubset = False")

issubset = False

In [ ]:
list1 = [1, 2]
list2 = [1, 2, 3, 4]

is_subset = True
for item in list1:
    if item not in list2:
        is_subset = False
        break

print(is_subset)   # True

True

Question 14: Suppose you have two sets set1 = {1, 2, 3, 4} and set2 = {3, 4}, how can you check if set2 is a subset of set1? Write a Python program to achieve this.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4}
set(set2)<= set(set1)

True

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4}
result = set(set2).issubset(set(set1))
print(result)

True

Question 15: Given a set set1 = {1, 2, 3, 4, 5}, how can you convert it into a list? Write a Python program to achieve this.

In [ ]:
set1 = {1, 2, 3, 4, 5}
list = list(set1)
print(list)

[1, 2, 3, 4, 5]

Question 16: Suppose you have a list my_list = [10, 20, 30, 40, 50, 10, 20], how can you remove duplicates and convert it into a set? Write a Python program to achieve this.

In [ ]:
my_list = [10, 20, 30, 40, 50, 10, 20]
result = set(my_list)
print(result)

{40, 10, 50, 20, 30}

Question 17: Given two sets set1 = {1, 2, 3} and set2 = {3, 4, 5}, how can you check if they are disjoint? Write a Python program to achieve this.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.isdisjoint(set2))

False

Question 18: Suppose you have a set my_set = {10, 20, 30}, how can you iterate over its elements and print them? Write a Python program to achieve this.

In [ ]:
my_set = {10, 20, 30}
for n in my_set:
    print(n)

10
20
30

Question 19: Given a set my_set = {10, 20, 30, 40, 50}, how can you find the minimum and maximum values? Write a Python program to achieve this.

In [ ]:
my_set = {10, 20, 30, 40, 50}
minimum = min(my_set)
maximum = max(my_set)
9print(minimum)
print(maximum)

10
50

Question 20: Suppose you have two sets set1 = {1, 2, 3} and set2 = {4, 5, 6}, how can you merge them into a single set? Write a Python program to achieve this.

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set1.union(set2)

{1, 2, 3, 4, 5, 6}

Dictionary Interview Questions

Question 1: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you access the value associated with key 'b'? Write a Python program to achieve this.

In [ ]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
my_dict["b"]

20

Question 2: Suppose you have a dictionary my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}, how can you update the value of 'age' to 30? Write a Python program to achieve this.

In [ ]:
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
my_dict["age"] = 30
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

Question 3: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you remove the key 'b'? Write a Python program to achieve this.

In [ ]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
my_dict.pop("b")
print(my_dict)

{'a': 10, 'c': 30}

Question 4: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you add a new key-value pair 'city': 'London'? Write a Python program to achieve this.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
my_dict['city'] = 'London'
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'London'}

Question 5: Given a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you get a list of all keys? Write a Python program to achieve this.

In [ ]:
my_dict = {'x': 1, 'y': 2, 'z': 3}
key_list = list(my_dict.keys())
print(key_list)

['x', 'y', 'z']

Question 6: Suppose you have a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you get a list of all values? Write a Python program to achieve this.

In [ ]:
my_dict = {'x': 1, 'y': 2, 'z': 3}
value = list(my_dict.values())
print(value)

[1, 2, 3]

Question 7: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you check if key 'b' exists? Write a Python program to achieve this.

In [ ]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
key_list = list(my_dict.keys())
print(key_list)
target_key = "b"
if target_key in key_list:
    print(f"Yes {target_key} is in dictionary")
else :
    print(f"No {target_key} is not in dictionary")

['a', 'b', 'c']
Yes b is in dictionary

Question 8: Suppose you have a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you iterate over its key-value pairs? Write a Python program to achieve this.

In [ ]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
for key , value in my_dict.items():
  print(key, value)

a 10
b 20
c 30

Question 9: Given a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you clear all elements from the dictionary? Write a Python program to achieve this.

In [ ]:
my_dict = {'x': 1, 'y': 2, 'z': 3}
del(my_dict)

Question 10: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you find its length? Write a Python program to achieve this.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
len(my_dict)

2

Question 11: Given two dictionaries dict1 = {'a': 1, 'b': 2} and dict2 = {'c': 3, 'd': 4}, how can you merge them? Write a Python program to achieve this.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
z = list(zip(dict1, dict2))
print(z)

[('a', 'c'), ('b', 'd')]

Question 12: Suppose you have a dictionary my_dict = {'name': 'John', 'age': 25}, how can you copy it to another dictionary? Write a Python program to achieve this.

In [ ]:
my_dict = {'name': 'John', 'age': 25}
dict2 = my_dict.copy()
print(dict2)

{'name': 'John', 'age': 25}

Question 13: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you get a default value when accessing a missing key? Write a Python program to achieve this.

In [ ]:
my_dict = {'a': 10, 'b': 20, 'c': 30}

Question 14: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you convert it into a list of tuples? Write a Python program to achieve this.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
dict1 = tuple(my_dict)
print(dict1)

('name', 'age')

Question 15: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you sort it by keys? Write a Python program to achieve this.

In [ ]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
sorted_keys = sorted(my_dict)
print(sorted_keys)

['a', 'b', 'c']

Question 16: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you delete the 'age' key using the pop() method? Write a Python program to achieve this.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
my_dict.pop("age")
print(my_dict)

{'name': 'Alice'}

Question 17: Given a dictionary my_dict = {'x': 10, 'y': 20}, how can you check if it is empty? Write a Python program to achieve this.

In [ ]:
my_dict = {'x': 10, 'y': 20}
if not my_dict:
   print("dictionary is empty")
else :
   print(my_dict)

{'x': 10, 'y': 20}

In [ ]:
my_dict = {}
if my_dict == {}:
   print("dictionary is empty")
else :
   print(my_dict)

dictionary is empty

Question 18: Suppose you have a dictionary my_dict = {'a': 10, 'b': 20}, how can you update it with another dictionary {'c': 30, 'd': 40}? Write a Python program to achieve this

In [ ]:
my_dict = {'a': 10, 'b': 20}
my_dict.update({'c': 30, 'd': 40})
print(my_dict)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

Question 19: Given a dictionary my_dict = {'apple': 3, 'banana': 5}, how can you get the key associated with the maximum value? Write a Python program to achieve this.

In [ ]:
my_dict = {'apple': 3, 'banana': 5}
value = list(my_dict.values())
print(value)
maximum = max(value)
print(maximum)
new = value.index(5)
print(new)
keys = list(my_dict.keys())
output = keys[1]
print(output)

[3, 5]
5
1
banana

Question 20: Suppose you have a dictionary my_dict = {'a': 1, 'b': 2, 'c': 3}, how can you reverse its key-value pairs? Write a Python program toachievethis.

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
reversed_dict = {}
for key, value in my_dict.items():
   reversed_dict[value]=key
print(reversed_dict)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
reversed_dict = {value: key for key , value in my_dict.items()}
print(reversed_dict)

{1: 'a', 2: 'b', 3: 'c'}